{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  	<div class="panel-heading">
  		<table>
			<tr>	
				<td><a href="/conjunto_buscarfichaxcodigo"></a><button type="button" class="btn btn-primary">Atras</button></a></td>
				<td><a href="/conjunto_ficha_alta/{{ conjunto_definicion.codigo }}/{{ conjunto_definicion.serie }}"><button type="button" class="btn btn-success menu" data-idmenu="17" data-accion="a">Agregar Nuevo</button></a></td>
				<!-- <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td> -->
			</tr>	
		</table>
  	</div>
	<table style="width: 100%; margin-left: 15px;">
		<tr>	
			<th>Codigo de Pañol:</th>
			<td style="display: inline-block;"><input type="text" id="codigo" name="codigo" class="form-control" readonly style="width: 130px; text-align: center; text-transform:uppercase" value="{{ conjunto_definicion.codigo }}"></td>
			<td style="width: 10px;"></td>
			<th>Codigo Asignado por EVHSA:</th>
			<td><input type="text" id="serie" name="serie" style="width: 200px;" class="form-control" readonly value="{{ conjunto_definicion.serie }}"></td>
		</tr>
		<tr>
			<th>Denominacion:</th>
			<td><input type="text" id="denominacion" name="denominacion" class="form-control" readonly style="width: 350px;" value="{{ conjunto_definicion.denominacion }}"></td>
			<td style="width: 10px;"></td>
			<th>Pert. a Chasis:</th>
			<td><input type="text" id="chasis" name="chasis" style="width: 200px;" class="form-control" readonly value="{{ conjunto_definicion.chasis }}"></td>
		</tr>
		<tr>
			<td colspan="5">
				<table style="width: 100%;">
					<th>Fecha de Compra:</th>
					<td><input type="text" id="fecha_compra" name="fecha_compra" class="form-control" readonly style="width: 100px; text-align: center;" value="{{ conjunto_definicion.fecha_compra_f }}"></td>
					<td style="width:10px;"></td>
					<th>Proveedor:</th>
					<td><input type="text" id="proveedor" name="proveedor" class="form-control" readonly style="width: 250px; text-align: center;" value="{{ conjunto_definicion.proveedor }}"></td>
					<td style="width: 10px;"></td>
					<th>Valor:</th>
					<td><input type="text" readonly id="valor" name="valor" class="form-control" readonly style="width: 100px; text-align: center;" value="{{ conjunto_definicion.valor }}" ></td>
				</table>
			</td>				
		</tr>
		<!-- ubicacion de identificacion -->
		<tr>
			<td colspan="5">
				<table style="width: 100%;">
					<th style="width: 200px;">Ubicacion de Identificacion:</th>
					<td><input type="text" name="ubicacion" id="ubicacion" class="form-control" readonly value="{{ conjunto_definicion.identificacion }}"></td>
					<td style="width: 30% !important; text-align: center;">{% if es_neumatico == 1 %}&nbsp;&nbsp;<span>(ES NEUMATICO)</span>{% else %}{% endif %}</td>
				</table>
			</td>
		</tr>
	</table>
	<!-- tabla para conjuntos_fichas -->
	<div id="mainHolder" style="overflow: scroll; max-height: 400px;">
		<table class="table">		
			<tr>
				<th colspan="2">Opciones</th>
				<th>Fecha</th>
				<th>Sacado Coche</th>
				<th>Coloc. Coche</th>
				<th>Ubicacion Actual</th>
				<th>Detalle</th>
				<th>Costo $</th>
				<th>Imputado a Coche</th>
				<th>Ubicación Neumático</th>
				<th>Responsable Reparación</th>
				<th>Responsable Rotura</th>
				<th>Kms</th>
				<th>Estado Cubierta</th>
				<th>MM Cubierta</th>
				<th>Suma en Estadística</th>
			</tr>		
			{% for cf in conjunto_fichas %}
				<tr>
					<td>
						<a href="/conjunto_ficha_modificar/{{ cf.id }}" data-idmenu="17" data-accion="m">
							<button class="btn btn-warning modificar" id="modificar" title="Modificar">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</button>
						</a>
					</td>
					<td>
						<a href="/conjunto_ficha_borrar/{{ cf.id }}" data-idmenu="17" data-accion="b">
  							<button class="btn btn-danger borrar" id="borrar" onclick="if (!confirm('¿Seguro desea eliminar?')) return false;" title="Eliminar">
	  							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	  						</button>
	  					</a>
					</td>
					<td>{{ cf.fecha_movimiento_f }}</td>
					<td>{% if cf.numero_coche_sacado_fk != 0 %}{{ cf.numero_coche_sacado_fk }}{% else %}{% endif %}</td>
					<td>{% if cf.numero_coche_colocado_fk != 0 %}{{ cf.numero_coche_colocado_fk }}{% else %}{% endif %}</td>
					<td>{{ cf.ubicacion_actual }}</td>
					<td>{{ cf.memo }}</td>
					<td>{% if cf.valor != 0 %}{{ cf.valor }}{% else %}{% endif %}</td>
					<td>{% if cf.imputa != 0 %}{{ cf.imputa }}{% else %}{% endif %}</td> <!-- imputado a coche(mostrar numero de coche) -->
					<td>{% if cf.codigo_ubicacion_neumatico_fk != 'NN' %}{{ cf.ubicacionneumaticotxt }}{% else %}--{% endif %}</td>
					<td>{{ cf.responsable_reparacion }}</td>
					<td>{{ cf.responsable_rotura }}</td>
					<td>{% if cf.km != 0 %}{{ cf.km }}{% else %}{% endif %}</td>
					<td>{% if cf.codigo_tipo_cubierta_fk != 0 %}{{ cf.tipocubiertatxt }}{% else %}--{% endif %}</td>
					<td>{% if cf.mm != 0 %}{{ cf.mm }}{% else %}{% endif %}</td>
					<td>{% if cf.est == 1 %}Si{% else %}No{% endif %}</td>
				</tr>
			{% endfor %}		
		</table>
	</div>
	<table style="width: 100%;">
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
{% endblock %}