{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<!-- <link href="/css/rubrosalta.css" rel="stylesheet"> -->
<h2>{{ pagename }}</h2>
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" style="overflow-y: initial !important;">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal">
	        			<span aria-hidden="true">&times;</span>
	        			<span class="sr-only">Close</span>
	        		</button>
	        		<h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
	      		</div>
	      		<div id='mainHolder' style='overflow: scroll; max-height: 500px;'>
		      		<table id="tabla_conjuntos">
		      		</table>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      		</div>
	    	</div>
	  	</div id="cierre_ultimo_div">
	</div>
<!-- Fin Modal -->
<div class="panel panel-default">
	<!-- <form method="post" id="formalta" action="/conjunto_buscarfichaxcodigo"> -->
		<table align="center" class="table table-striped">
			<tr>
				<td>Codigo:</td>
				<td>
					<table style="display: inline-block;">
						<tr>
							<td>
								<input type="text" id="codigo1" name="codigo1" required class="form-control" style="width: 70px; text-align: center; text-transform:uppercase">  
							</td>
							<td>.</td>
							<td>
								<input type="text" id="codigo2" name="codigo2" required class="form-control" onKeyPress="return soloNumeros(event)" style="width: 70px; text-align: center;" >
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>y/o Codigo Asignado por EVHSA:</td>
				<td>
					<input type="text" id="serie" name="serie" class="form-control"><div class="aviso">Quedan <span id="charsLeftSerie"></span> caraceteres.</div>
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()" class="btn btn-default"></td>
				<td><input type="button" value="Buscar" id="Buscar" class="btn btn-default"></td>
			</tr>
		</table>
	<!-- </form> -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script src="/js/jquery.autotab.min.js"></script>
<script type="text/javascript">
	$('#codigo1').autotab({ maxlength: 4, target: '#codigo2'});
	$('#codigo2').autotab({ maxlength: 3, target: '#serie'});
	$('#serie').limit('20','#charsLeftSerie');

	// $("#codigo1").val().toUpperCase();

	$(function() {
    	$("#Buscar").on("click", function (){
    		// si busca por los 2 parametros, encuentra 1 solo (o ninguno) y muestra la ficha del conjunto directamente
    		//si buscar por codigo solo, muestra los resultados en un modal, con un boton "ver" para cada resultado y luego al darle a ese boton redirije a la ficha del conjunto
    		var codigo1 = $("#codigo1").val();
    		var codigo2 = $("#codigo2").val();
    		var codigo = codigo1+"."+codigo2;
    		codigo = codigo.toUpperCase();
    		var serie = $("#serie").val();

    		if (serie.length > 0){
				//buscar por codigo y numero de serie
				alert("busqueda por codigo y serie");
				url = "/conjunto_verficha/"+codigo+"/"+serie;
				window.location = url;
    		}else{
    			// buscar por codigo solo
    			// alert("busqueda por codigo solo");
    			$.getJSON('/conjunto_definicion_buscarxcodigo/'+codigo, function(conjuntos_definicion) {
    				console.log(conjuntos_definicion);
    				if(conjuntos_definicion.length > 0){
    					if (conjuntos_definicion.length > 1){
    						// armar y mostrar modal con las opciones
	    					var html = "<table class='table' id='tabla_conjuntos'>"
	    					html += "<tr><th>Codigo</th><th>N° Serie</th><th>Opciones</th></tr>";
	    						for(var i = 0; i < conjuntos_definicion.length; i++){
	    							html += "<tr><td>"+conjuntos_definicion[i].codigo+"</td><td>"+conjuntos_definicion[i].serie+"</td>"+
	    							"<td><a href='/conjunto_verficha/"+conjuntos_definicion[i].codigo+"/"+conjuntos_definicion[i].serie+"' class='btn btn-default' role='button'>Ver Ficha</a></td></tr>";
	    						}
	    						
	    					html += "</table>";
	    					// $("#myModal").append("");
	    					// $("#cierre_ultimo_div").append("</div>");
	    					$("#tabla_conjuntos").replaceWith(html);	    					
	    					$("#myModalLabel").text("Seleccione Conjunto")
	    					$('#myModal').modal('toggle');
    					}else{
    						url = "/conjunto_verficha/"+conjuntos_definicion[0].codigo+"/"+conjuntos_definicion[0].serie;
							window.location = url;
    					}    					
    				}else{
    					alert("La busqueda no trajo resultados.")
    				}
    			});
    		}
    	});
	});
</script>
{% endblock %}