{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<!-- <link href="/css/rubrosalta.css" rel="stylesheet"> -->
<h2>{{ pagename }}</h2>
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal">
	        			<span aria-hidden="true">&times;</span>
	        			<span class="sr-only">Close</span>
	        		</button>
	        		<h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
	      		</div>
	      		<table id="tabla_conjuntos">
	      		</table>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      		</div>
	    	</div>
	  	</div>
	</div>
<!-- Fin Modal -->
<div class="panel panel-default">
	<!-- <form method="post" id="formalta" action="/conjunto_buscarxcoche"> -->
		<table align="center" class="table table-striped">
			<!-- codigo, serie, denominacion, comprado, valor, ubica neumatico, -->
			<tr>
				<th>Codigo</th>
				<th>Serie</th>
				<th>Denominacion</th>
				<th>Ubicacion</th>
			</tr>
			{% for n in neumaticos %}
				<tr>
					<td>{{ n.codigo }}</td>
					<td>{{ n.serie }}</td>
					<td>{{ n.denominacion }}</td>
					<td>{{ n.ubica_neumaticotxt }}</td>
				</tr>
			{% endfor %}
		</table>
	<!-- </form> -->
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	// $("#codigo1").val().toUpperCase();
</script>
{% endblock %}