{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/equipos.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/equipos_modificar">
		<input hidden id="id" name="id" value="{{ equipo.id }}">
		<table align="center" class="table table-striped">
			<tr>
				<td>Numero:</td>
				<td><input type="number" id="numero" name="numero" maxlength="3" class="form-control" value="{{ equipo.numero }}" readonly></td>
			</tr>
			<tr>
				<td>Denominación:</td>
				<td><input type="text" id="denominacion" name="denominacion" required class="form-control width_60" value="{{ equipo.denominacion }}"><div class="aviso">Quedan <span id="charsLeftDenominacion"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>N° Coche:</td>
				<td>
					<select id="nro_coche" name="nro_coche" class="form-control width_35" >
						{% if v.id == 0 %}
							<option value="0" selected>Sin coche asignado</option>
						{% else %}
							<option value="0">Sin coche asignado</option>
						{% endif %}

						{% for v in vehiculos %}
							{% if v.id == equipo.numero_coche_fk %}
								<option value="{{ v.id }}" selected>{{ v.numero }}</option>
							{% else %}
								<option value="{{ v.id }}">{{ v.numero }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Fecha Colocación:</td>
				<td><input type="date" id="fecha_colocacion" name="fecha_colocacion" class="form-control" value="{{ equipo.fecha_colocacion }}"></td>
			</tr>
			<tr>
				<td>Total:</td>
				<td>
					{% if equipo.total == 0 %}
						<input type="number" onKeyPress="return soloNumeros(event)" maxlength="14" step="any" id="total" name="total" class="form-control">
					{% else %}
						<input type="number" onKeyPress="return soloNumeros(event)" maxlength="14" step="any" id="total" name="total" class="form-control" value="{{ equipo.total }}">
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Responsable:</td>
				<td><input type="text" id="responsable" name="responsable" class="form-control width_60" value="{{ equipo.responsable }}"><div class="aviso">Quedan <span id="charsLeftResponsable"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td><input type="text" id="tipo" maxlength="1" name="tipo" class="form-control" value="{{ equipo.tipo }}" onkeypress="return lettersOnly(event)"><div class="aviso">Quedan <span id="charsLeftTipo"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Fecha Sacado:</td>
				<td><input type="date" id="fecha_sacado" name="fecha_sacado" class="form-control" value="{{ equipo.fecha_sacado }}"></td>
			</tr>
			<tr>
				<td>Km:</td>
				<td>
					{% if equipo.km == 0 %}
						<input type="number" onKeyPress="return soloNumeros(event)" maxlength="11" id="km" name="km" class="form-control">
					{% else %}
						<input type="number" onKeyPress="return soloNumeros(event)" maxlength="11" id="km" name="km" class="form-control" value="{{ equipo.km }}"></td>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Observaciones:</td>
				<td><textarea rows="5" cols="50" id="observaciones" name="observaciones" class="form-control">{{ equipo.observaciones }}</textarea><div class="aviso">Quedan <span id="charsLeftObservaciones"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Resultado:</td>
				<td><textarea rows="5" cols="50" id="resultado" name="resultado" class="form-control">{{ equipo.resultado }}</textarea><div class="aviso">Quedan <span id="charsLeftResultado"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>
					<input type="button" class="btn btn-default" value="Atras" onclick="history.back()">
				</td>
				<td>
					<input type="submit" class="btn btn-default" value="Modificar">
				</td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script src="/js/jquery.autotab.min.js"></script>
<script type="text/javascript">
	$('#denominacion').limit('30','#charsLeftDenominacion');
	$('#responsable').limit('14','#charsLeftResponsable');
	$('#tipo').limit('1','#charsLeftTipo');
	$('#observaciones').limit('5000','#charsLeftObservaciones');
	$('#resultado').limit('5000','#charsLeftResultado');
</script>

{% endblock %}