{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/equipos.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">		
	<table align="center" class="table table-striped">
		<tr>
			<td>Numero:</td>
			<td>{{ equipo.numero }}</td>
		</tr>
		<tr>
			<td>Denominación:</td>
			<td>{{ equipo.denominacion }}</td>
		</tr>
		<tr>
			<td>N° Coche:</td>
			<td>
				{% if equipo.numero_coche_fk == 0 %}
					Sin coche asignado
				{% else %}
					{{ equipo.numero_coche_fk }}
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td>Fecha Colocación:</td>
			<td>
				{% if equipo.fecha_colocacion != '00/00/0000' %}
					{{ equipo.fecha_colocacion }}
				{% else %}
					
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>total:</td>
			<td>{{ equipo.total }}</td>
		</tr>
		<tr>
			<td>responsable:</td>
			<td>{{ equipo.responsable }}</td>
		</tr>
		<tr>
			<td>tipo:</td>
			<td>{{ equipo.tipo }}</td>
		</tr>
		<tr>
			<td>Fecha Sacado:</td>
			<td>
				{% if equipo.fecha_sacado != '00/00/0000' %}
					{{ equipo.fecha_sacado }}
				{% else %}
					
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>Km:</td>
			<td>{{ equipo.km }}</td>
		</tr>
		<tr>
			<td>Observaciones:</td>
			<td>{{ equipo.observaciones }}</td>
		</tr>
		<tr>
			<td>Resultado:</td>
			<td>{{ equipo.resultado }}</td>
		</tr>
		<tr>
			<td>
				<center>
					<input type="button" class="btn btn-primary" value="Atras" onclick="history.back()">
				</center>
			</td>
		</tr>
	</table>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">

</script>

{% endblock %}