{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<style type="text/css">
.container {
	width: 90% !important;
	margin-left: 5% !important;
	margin-right: 5% !important;
}

body {
	background-color: #eee !important;
}

td{
	text-align: right !important;
}
</style>
<link href="/css/flujodefondos_reporte.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<input hidden id="anio" name="anio" value="{{ anio }}">
<input hidden id="mes" name="mes" value="{{ mes }}">
<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading clearfix">
		<h1 class="pull-left">Flujo de Fondos - EVHSA</h1>
		<button id="btnExport" class="btn btn-default btn-lg pull-right" style="margin-top: 15px !important;" title="Descargar Excel"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button>
	</div>
	<div id="mainHolder" style="overflow: scroll; max-height: 600px;">
		<table class="table table-striped ingresos" style="margin-bottom: 0px;">
			<tr>
				<th style="padding-bottom: 8px !important; padding-top: 8px !important;"><h2><b>INGRESOS</b></h2></th>
				<th><h4>01</h4></th>
				<th><h4>02</h4></th>
				<th><h4>03</h4></th>
				<th><h4>04</h4></th>
				<th><h4>05</h4></th>
				<th><h4>06</h4></th>
				<th><h4>07</h4></th>
				<th><h4>08</h4></th>
				<th><h4>09</h4></th>
				<th><h4>10</h4></th>
				<th><h4>11</h4></th>
				<th><h4>12</h4></th>
				<th><h4>13</h4></th>
				<th><h4>14</h4></th>
				<th><h4>15</h4></th>
				<th><h4>16</h4></th>
				<th><h4>17</h4></th>
				<th><h4>18</h4></th>
				<th><h4>19</h4></th>
				<th><h4>20</h4></th>
				<th><h4>21</h4></th>
				<th><h4>22</h4></th>
				<th><h4>23</h4></th>
				<th><h4>24</h4></th>
				<th><h4>25</h4></th>
				<th><h4>26</h4></th>
				<th><h4>27</h4></th>
				<th><h4>28</h4></th>
				<th><h4>29</h4></th>
				<th><h4>30</h4></th>
				<th><h4>31</h4></th>
				<th><h4>TOTAL</h4></th>
			</tr>
			{% for i in ingresos %}
				<tr>
					<td style="text-align: left !important; font-size: 16px;">{{ i.codigotxt }}</td>
					<td>{% if i.suma01 != 0 %}{{ i.suma01 }}{% else %}<font color="#a6a6a6">{{ i.suma01 }}</font>{% endif %}</td>
					<td>{% if i.suma02 != 0 %}{{ i.suma02 }}{% else %}<font color="#a6a6a6">{{ i.suma02 }}</font>{% endif %}</td>
					<td>{% if i.suma03 != 0 %}{{ i.suma03 }}{% else %}<font color="#a6a6a6">{{ i.suma03 }}</font>{% endif %}</td>
					<td>{% if i.suma04 != 0 %}{{ i.suma04 }}{% else %}<font color="#a6a6a6">{{ i.suma04 }}</font>{% endif %}</td>
					<td>{% if i.suma05 != 0 %}{{ i.suma05 }}{% else %}<font color="#a6a6a6">{{ i.suma05 }}</font>{% endif %}</td>
					<td>{% if i.suma06 != 0 %}{{ i.suma06 }}{% else %}<font color="#a6a6a6">{{ i.suma06 }}</font>{% endif %}</td>
					<td>{% if i.suma07 != 0 %}{{ i.suma07 }}{% else %}<font color="#a6a6a6">{{ i.suma07 }}</font>{% endif %}</td>
					<td>{% if i.suma08 != 0 %}{{ i.suma08 }}{% else %}<font color="#a6a6a6">{{ i.suma08 }}</font>{% endif %}</td>
					<td>{% if i.suma09 != 0 %}{{ i.suma09 }}{% else %}<font color="#a6a6a6">{{ i.suma09 }}</font>{% endif %}</td>
					<td>{% if i.suma10 != 0 %}{{ i.suma10 }}{% else %}<font color="#a6a6a6">{{ i.suma10 }}</font>{% endif %}</td>
					<td>{% if i.suma11 != 0 %}{{ i.suma11 }}{% else %}<font color="#a6a6a6">{{ i.suma11 }}</font>{% endif %}</td>
					<td>{% if i.suma12 != 0 %}{{ i.suma12 }}{% else %}<font color="#a6a6a6">{{ i.suma12 }}</font>{% endif %}</td>
					<td>{% if i.suma13 != 0 %}{{ i.suma13 }}{% else %}<font color="#a6a6a6">{{ i.suma13 }}</font>{% endif %}</td>
					<td>{% if i.suma14 != 0 %}{{ i.suma14 }}{% else %}<font color="#a6a6a6">{{ i.suma14 }}</font>{% endif %}</td>
					<td>{% if i.suma15 != 0 %}{{ i.suma15 }}{% else %}<font color="#a6a6a6">{{ i.suma15 }}</font>{% endif %}</td>
					<td>{% if i.suma16 != 0 %}{{ i.suma16 }}{% else %}<font color="#a6a6a6">{{ i.suma16 }}</font>{% endif %}</td>
					<td>{% if i.suma17 != 0 %}{{ i.suma17 }}{% else %}<font color="#a6a6a6">{{ i.suma17 }}</font>{% endif %}</td>
					<td>{% if i.suma18 != 0 %}{{ i.suma18 }}{% else %}<font color="#a6a6a6">{{ i.suma18 }}</font>{% endif %}</td>
					<td>{% if i.suma19 != 0 %}{{ i.suma19 }}{% else %}<font color="#a6a6a6">{{ i.suma19 }}</font>{% endif %}</td>
					<td>{% if i.suma20 != 0 %}{{ i.suma20 }}{% else %}<font color="#a6a6a6">{{ i.suma20 }}</font>{% endif %}</td>
					<td>{% if i.suma21 != 0 %}{{ i.suma21 }}{% else %}<font color="#a6a6a6">{{ i.suma21 }}</font>{% endif %}</td>
					<td>{% if i.suma22 != 0 %}{{ i.suma22 }}{% else %}<font color="#a6a6a6">{{ i.suma22 }}</font>{% endif %}</td>
					<td>{% if i.suma23 != 0 %}{{ i.suma23 }}{% else %}<font color="#a6a6a6">{{ i.suma23 }}</font>{% endif %}</td>
					<td>{% if i.suma24 != 0 %}{{ i.suma24 }}{% else %}<font color="#a6a6a6">{{ i.suma24 }}</font>{% endif %}</td>
					<td>{% if i.suma25 != 0 %}{{ i.suma25 }}{% else %}<font color="#a6a6a6">{{ i.suma25 }}</font>{% endif %}</td>
					<td>{% if i.suma26 != 0 %}{{ i.suma26 }}{% else %}<font color="#a6a6a6">{{ i.suma26 }}</font>{% endif %}</td>
					<td>{% if i.suma27 != 0 %}{{ i.suma27 }}{% else %}<font color="#a6a6a6">{{ i.suma27 }}</font>{% endif %}</td>
					<td>{% if i.suma28 != 0 %}{{ i.suma28 }}{% else %}<font color="#a6a6a6">{{ i.suma28 }}</font>{% endif %}</td>
					<td>{% if i.suma29 != 0 %}{{ i.suma29 }}{% else %}<font color="#a6a6a6">{{ i.suma29 }}</font>{% endif %}</td>
					<td>{% if i.suma30 != 0 %}{{ i.suma30 }}{% else %}<font color="#a6a6a6">{{ i.suma30 }}</font>{% endif %}</td>
					<td>{% if i.suma31 != 0 %}{{ i.suma31 }}{% else %}<font color="#a6a6a6">{{ i.suma31 }}</font>{% endif %}</td>
					<td style="text-align:right;">{% if i.totalsuma != 0 %}{{ i.totalsuma }}{% else %}<font color="#a6a6a6">{{ i.totalsuma }}</font>{% endif %}</td>
				</tr>
			{% endfor %}
			<tr>
				<td style="text-align: left !important;"><b>TOTAL DE INGRESOS</b></td>
				<td>{% if total_ingresos.total01 != 0 %}{{ total_ingresos.total01 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total01 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total02 != 0 %}{{ total_ingresos.total02 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total02 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total03 != 0 %}{{ total_ingresos.total03 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total03 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total04 != 0 %}{{ total_ingresos.total04 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total04 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total05 != 0 %}{{ total_ingresos.total05 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total05 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total06 != 0 %}{{ total_ingresos.total06 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total06 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total07 != 0 %}{{ total_ingresos.total07 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total07 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total08 != 0 %}{{ total_ingresos.total08 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total08 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total09 != 0 %}{{ total_ingresos.total09 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total09 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total10 != 0 %}{{ total_ingresos.total10 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total10 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total11 != 0 %}{{ total_ingresos.total11 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total11 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total12 != 0 %}{{ total_ingresos.total12 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total12 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total13 != 0 %}{{ total_ingresos.total13 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total13 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total14 != 0 %}{{ total_ingresos.total14 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total14 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total15 != 0 %}{{ total_ingresos.total15 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total15 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total16 != 0 %}{{ total_ingresos.total16 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total16 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total17 != 0 %}{{ total_ingresos.total17 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total17 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total18 != 0 %}{{ total_ingresos.total18 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total18 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total19 != 0 %}{{ total_ingresos.total19 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total19 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total20 != 0 %}{{ total_ingresos.total20 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total20 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total21 != 0 %}{{ total_ingresos.total21 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total21 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total22 != 0 %}{{ total_ingresos.total22 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total22 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total23 != 0 %}{{ total_ingresos.total23 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total23 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total24 != 0 %}{{ total_ingresos.total24 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total24 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total25 != 0 %}{{ total_ingresos.total25 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total25 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total26 != 0 %}{{ total_ingresos.total26 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total26 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total27 != 0 %}{{ total_ingresos.total27 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total27 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total28 != 0 %}{{ total_ingresos.total28 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total28 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total29 != 0 %}{{ total_ingresos.total29 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total29 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total30 != 0 %}{{ total_ingresos.total30 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total30 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.total31 != 0 %}{{ total_ingresos.total31 }}{% else %}<font color="#a6a6a6">{{ total_ingresos.total31 }}</font>{% endif %}</td>
				<td>{% if total_ingresos.sumatotal != 0 %}{{ total_ingresos.sumatotal }}{% else %}<font color="#a6a6a6">{{ total_ingresos.sumatotal }}</font>{% endif %}</td>
			</tr>
			<tr>
				<td style="test-align: left; padding-bottom: 8px !important; padding-top: 8px !important;"><h2><b>EGRESOS</b></h2></td>
				<td colspan="32"></td>
			</tr>
			{% for e in egresos %}
				<tr>
					<td style="text-align: left !important; font-size: 16px;">{{ e.codigotxt }}</td>
					<td>{% if e.suma01 != 0 %}{{ e.suma01 }}{% else %}<font color="#a6a6a6">{{ e.suma01 }}</font>{% endif %}</td>
					<td>{% if e.suma02 != 0 %}{{ e.suma02 }}{% else %}<font color="#a6a6a6">{{ e.suma02 }}</font>{% endif %}</td>
					<td>{% if e.suma03 != 0 %}{{ e.suma03 }}{% else %}<font color="#a6a6a6">{{ e.suma03 }}</font>{% endif %}</td>
					<td>{% if e.suma04 != 0 %}{{ e.suma04 }}{% else %}<font color="#a6a6a6">{{ e.suma04 }}</font>{% endif %}</td>
					<td>{% if e.suma05 != 0 %}{{ e.suma05 }}{% else %}<font color="#a6a6a6">{{ e.suma05 }}</font>{% endif %}</td>
					<td>{% if e.suma06 != 0 %}{{ e.suma06 }}{% else %}<font color="#a6a6a6">{{ e.suma06 }}</font>{% endif %}</td>
					<td>{% if e.suma07 != 0 %}{{ e.suma07 }}{% else %}<font color="#a6a6a6">{{ e.suma07 }}</font>{% endif %}</td>
					<td>{% if e.suma08 != 0 %}{{ e.suma08 }}{% else %}<font color="#a6a6a6">{{ e.suma08 }}</font>{% endif %}</td>
					<td>{% if e.suma09 != 0 %}{{ e.suma09 }}{% else %}<font color="#a6a6a6">{{ e.suma09 }}</font>{% endif %}</td>
					<td>{% if e.suma10 != 0 %}{{ e.suma10 }}{% else %}<font color="#a6a6a6">{{ e.suma10 }}</font>{% endif %}</td>
					<td>{% if e.suma11 != 0 %}{{ e.suma11 }}{% else %}<font color="#a6a6a6">{{ e.suma11 }}</font>{% endif %}</td>
					<td>{% if e.suma12 != 0 %}{{ e.suma12 }}{% else %}<font color="#a6a6a6">{{ e.suma12 }}</font>{% endif %}</td>
					<td>{% if e.suma13 != 0 %}{{ e.suma13 }}{% else %}<font color="#a6a6a6">{{ e.suma13 }}</font>{% endif %}</td>
					<td>{% if e.suma14 != 0 %}{{ e.suma14 }}{% else %}<font color="#a6a6a6">{{ e.suma14 }}</font>{% endif %}</td>
					<td>{% if e.suma15 != 0 %}{{ e.suma15 }}{% else %}<font color="#a6a6a6">{{ e.suma15 }}</font>{% endif %}</td>
					<td>{% if e.suma16 != 0 %}{{ e.suma16 }}{% else %}<font color="#a6a6a6">{{ e.suma16 }}</font>{% endif %}</td>
					<td>{% if e.suma17 != 0 %}{{ e.suma17 }}{% else %}<font color="#a6a6a6">{{ e.suma17 }}</font>{% endif %}</td>
					<td>{% if e.suma18 != 0 %}{{ e.suma18 }}{% else %}<font color="#a6a6a6">{{ e.suma18 }}</font>{% endif %}</td>
					<td>{% if e.suma19 != 0 %}{{ e.suma19 }}{% else %}<font color="#a6a6a6">{{ e.suma19 }}</font>{% endif %}</td>
					<td>{% if e.suma20 != 0 %}{{ e.suma20 }}{% else %}<font color="#a6a6a6">{{ e.suma20 }}</font>{% endif %}</td>
					<td>{% if e.suma21 != 0 %}{{ e.suma21 }}{% else %}<font color="#a6a6a6">{{ e.suma21 }}</font>{% endif %}</td>
					<td>{% if e.suma22 != 0 %}{{ e.suma22 }}{% else %}<font color="#a6a6a6">{{ e.suma22 }}</font>{% endif %}</td>
					<td>{% if e.suma23 != 0 %}{{ e.suma23 }}{% else %}<font color="#a6a6a6">{{ e.suma23 }}</font>{% endif %}</td>
					<td>{% if e.suma24 != 0 %}{{ e.suma24 }}{% else %}<font color="#a6a6a6">{{ e.suma24 }}</font>{% endif %}</td>
					<td>{% if e.suma25 != 0 %}{{ e.suma25 }}{% else %}<font color="#a6a6a6">{{ e.suma25 }}</font>{% endif %}</td>
					<td>{% if e.suma26 != 0 %}{{ e.suma26 }}{% else %}<font color="#a6a6a6">{{ e.suma26 }}</font>{% endif %}</td>
					<td>{% if e.suma27 != 0 %}{{ e.suma27 }}{% else %}<font color="#a6a6a6">{{ e.suma27 }}</font>{% endif %}</td>
					<td>{% if e.suma28 != 0 %}{{ e.suma28 }}{% else %}<font color="#a6a6a6">{{ e.suma28 }}</font>{% endif %}</td>
					<td>{% if e.suma29 != 0 %}{{ e.suma29 }}{% else %}<font color="#a6a6a6">{{ e.suma29 }}</font>{% endif %}</td>
					<td>{% if e.suma30 != 0 %}{{ e.suma30 }}{% else %}<font color="#a6a6a6">{{ e.suma30 }}</font>{% endif %}</td>
					<td>{% if e.suma31 != 0 %}{{ e.suma31 }}{% else %}<font color="#a6a6a6">{{ e.suma31 }}</font>{% endif %}</td>
					<td style="text-align:right;">{% if e.totalsuma != 0 %}{{ e.totalsuma }}{% else %}<font color="#a6a6a6">{{ e.totalsuma }}</font>{% endif %}</td>
				</tr>
			{% endfor %}
			<tr>
				<td style="text-align: left !important;"><b>TOTAL DE EGRESOS</b></td>
				<td>{% if total_egresos.total01 != 0 %}{{ total_egresos.total01 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total01 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total02 != 0 %}{{ total_egresos.total02 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total02 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total03 != 0 %}{{ total_egresos.total03 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total03 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total04 != 0 %}{{ total_egresos.total04 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total04 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total05 != 0 %}{{ total_egresos.total05 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total05 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total06 != 0 %}{{ total_egresos.total06 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total06 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total07 != 0 %}{{ total_egresos.total07 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total07 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total08 != 0 %}{{ total_egresos.total08 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total08 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total09 != 0 %}{{ total_egresos.total09 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total09 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total10 != 0 %}{{ total_egresos.total10 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total10 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total11 != 0 %}{{ total_egresos.total11 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total11 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total12 != 0 %}{{ total_egresos.total12 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total12 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total13 != 0 %}{{ total_egresos.total13 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total13 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total14 != 0 %}{{ total_egresos.total14 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total14 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total15 != 0 %}{{ total_egresos.total15 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total15 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total16 != 0 %}{{ total_egresos.total16 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total16 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total17 != 0 %}{{ total_egresos.total17 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total17 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total18 != 0 %}{{ total_egresos.total18 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total18 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total19 != 0 %}{{ total_egresos.total19 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total19 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total20 != 0 %}{{ total_egresos.total20 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total20 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total21 != 0 %}{{ total_egresos.total21 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total21 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total22 != 0 %}{{ total_egresos.total22 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total22 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total23 != 0 %}{{ total_egresos.total23 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total23 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total24 != 0 %}{{ total_egresos.total24 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total24 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total25 != 0 %}{{ total_egresos.total25 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total25 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total26 != 0 %}{{ total_egresos.total26 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total26 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total27 != 0 %}{{ total_egresos.total27 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total27 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total28 != 0 %}{{ total_egresos.total28 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total28 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total29 != 0 %}{{ total_egresos.total29 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total29 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total30 != 0 %}{{ total_egresos.total30 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total30 }}</font>{% endif %}</td>
				<td>{% if total_egresos.total31 != 0 %}{{ total_egresos.total31 }}{% else %}<font color="#a6a6a6">{{ total_egresos.total31 }}</font>{% endif %}</td>
				<td>{% if total_egresos.sumatotal != 0 %}{{ total_egresos.sumatotal }}{% else %}<font color="#a6a6a6">{{ total_egresos.sumatotal }}</font>{% endif %}</td>
			</tr>
			<tr>
				<td style="text-align: left !important;"><b>SALDO DIARIO</b></td>
				<td>{% if saldos_diarios.saldo01 != 0 %}{{ saldos_diarios.saldo01 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo01 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo02 != 0 %}{{ saldos_diarios.saldo02 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo02 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo03 != 0 %}{{ saldos_diarios.saldo03 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo03 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo04 != 0 %}{{ saldos_diarios.saldo04 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo04 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo05 != 0 %}{{ saldos_diarios.saldo05 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo05 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo06 != 0 %}{{ saldos_diarios.saldo06 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo06 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo07 != 0 %}{{ saldos_diarios.saldo07 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo07 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo08 != 0 %}{{ saldos_diarios.saldo08 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo08 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo09 != 0 %}{{ saldos_diarios.saldo09 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo09 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo10 != 0 %}{{ saldos_diarios.saldo10 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo10 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo11 != 0 %}{{ saldos_diarios.saldo11 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo11 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo12 != 0 %}{{ saldos_diarios.saldo12 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo12 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo13 != 0 %}{{ saldos_diarios.saldo13 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo13 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo14 != 0 %}{{ saldos_diarios.saldo14 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo14 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo15 != 0 %}{{ saldos_diarios.saldo15 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo15 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo16 != 0 %}{{ saldos_diarios.saldo16 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo16 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo17 != 0 %}{{ saldos_diarios.saldo17 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo17 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo18 != 0 %}{{ saldos_diarios.saldo18 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo18 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo19 != 0 %}{{ saldos_diarios.saldo19 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo19 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo20 != 0 %}{{ saldos_diarios.saldo20 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo20 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo21 != 0 %}{{ saldos_diarios.saldo21 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo21 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo22 != 0 %}{{ saldos_diarios.saldo22 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo22 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo23 != 0 %}{{ saldos_diarios.saldo23 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo23 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo24 != 0 %}{{ saldos_diarios.saldo24 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo24 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo25 != 0 %}{{ saldos_diarios.saldo25 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo25 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo26 != 0 %}{{ saldos_diarios.saldo26 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo26 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo27 != 0 %}{{ saldos_diarios.saldo27 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo27 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo28 != 0 %}{{ saldos_diarios.saldo28 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo28 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo29 != 0 %}{{ saldos_diarios.saldo29 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo29 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo30 != 0 %}{{ saldos_diarios.saldo30 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo30 }}</font>{% endif %}</td>
				<td>{% if saldos_diarios.saldo31 != 0 %}{{ saldos_diarios.saldo31 }}{% else %}<font color="#a6a6a6">{{ saldos_diarios.saldo31 }}</font>{% endif %}</td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: left !important;"><b>SALDO INICIAL</b></td>
				<td>{% if saldo_inicial.saldoi01 != 0 %}{{ saldo_inicial.saldoi01 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi01 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi02 != 0 %}{{ saldo_inicial.saldoi02 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi02 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi03 != 0 %}{{ saldo_inicial.saldoi03 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi03 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi04 != 0 %}{{ saldo_inicial.saldoi04 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi04 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi05 != 0 %}{{ saldo_inicial.saldoi05 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi05 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi06 != 0 %}{{ saldo_inicial.saldoi06 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi06 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi07 != 0 %}{{ saldo_inicial.saldoi07 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi07 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi08 != 0 %}{{ saldo_inicial.saldoi08 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi08 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi09 != 0 %}{{ saldo_inicial.saldoi09 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi09 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi10 != 0 %}{{ saldo_inicial.saldoi10 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi10 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi11 != 0 %}{{ saldo_inicial.saldoi11 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi11 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi12 != 0 %}{{ saldo_inicial.saldoi12 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi12 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi13 != 0 %}{{ saldo_inicial.saldoi13 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi13 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi14 != 0 %}{{ saldo_inicial.saldoi14 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi14 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi15 != 0 %}{{ saldo_inicial.saldoi15 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi15 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi16 != 0 %}{{ saldo_inicial.saldoi16 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi16 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi17 != 0 %}{{ saldo_inicial.saldoi17 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi17 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi18 != 0 %}{{ saldo_inicial.saldoi18 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi18 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi19 != 0 %}{{ saldo_inicial.saldoi19 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi19 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi20 != 0 %}{{ saldo_inicial.saldoi20 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi20 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi21 != 0 %}{{ saldo_inicial.saldoi21 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi21 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi22 != 0 %}{{ saldo_inicial.saldoi22 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi22 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi23 != 0 %}{{ saldo_inicial.saldoi23 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi23 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi24 != 0 %}{{ saldo_inicial.saldoi24 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi24 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi25 != 0 %}{{ saldo_inicial.saldoi25 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi25 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi26 != 0 %}{{ saldo_inicial.saldoi26 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi26 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi27 != 0 %}{{ saldo_inicial.saldoi27 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi27 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi28 != 0 %}{{ saldo_inicial.saldoi28 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi28 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi29 != 0 %}{{ saldo_inicial.saldoi29 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi29 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi30 != 0 %}{{ saldo_inicial.saldoi30 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi30 }}</font>{% endif %}</td>
				<td>{% if saldo_inicial.saldoi31 != 0 %}{{ saldo_inicial.saldoi31 }}{% else %}<font color="#a6a6a6">{{ saldo_inicial.saldoi31 }}</font>{% endif %}</td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: left !important;"><b>DEFICIT / SUPERAVIT</b></td>
				<td>{{ deficit.def01 }}</td>
				<td>{{ deficit.def02 }}</td>
				<td>{{ deficit.def03 }}</td>
				<td>{{ deficit.def04 }}</td>
				<td>{{ deficit.def05 }}</td>
				<td>{{ deficit.def06 }}</td>
				<td>{{ deficit.def07 }}</td>
				<td>{{ deficit.def08 }}</td>
				<td>{{ deficit.def09 }}</td>
				<td>{{ deficit.def10 }}</td>
				<td>{{ deficit.def11 }}</td>
				<td>{{ deficit.def12 }}</td>
				<td>{{ deficit.def13 }}</td>
				<td>{{ deficit.def14 }}</td>
				<td>{{ deficit.def15 }}</td>
				<td>{{ deficit.def16 }}</td>
				<td>{{ deficit.def17 }}</td>
				<td>{{ deficit.def18 }}</td>
				<td>{{ deficit.def19 }}</td>
				<td>{{ deficit.def20 }}</td>
				<td>{{ deficit.def21 }}</td>
				<td>{{ deficit.def22 }}</td>
				<td>{{ deficit.def23 }}</td>
				<td>{{ deficit.def24 }}</td>
				<td>{{ deficit.def25 }}</td>
				<td>{{ deficit.def26 }}</td>
				<td>{{ deficit.def27 }}</td>
				<td>{{ deficit.def28 }}</td>
				<td>{{ deficit.def29 }}</td>
				<td>{{ deficit.def30 }}</td>
				<td>{{ deficit.def31 }}</td>
				<td></td>
			</tr>
		</table>
	</div>	
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
$("#btnExport").on("click", function (){
	var anio = $("#anio").val();
	var mes = $("#mes").val();

	url = "/flujodefondos_generacion_excel/"+anio+"/"+mes;
	window.location = url;
});
</script>
{% endblock %}