{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/herramientas.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/herramientas_alta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Código:</td>
				<td><input type="text" id="codigo" name="codigo" maxlength="12" class="form-control porc25" value="{{ repuesto[0].codigo }}" readonly></td>
			</tr>
			<tr>
				<td>Denominación:</td>
				<td><input type="text" id="denominacion" name="denominacion" class="form-control porc50" value="{{ repuesto[0].nombre }}" readonly></td>
			</tr>
			<tr>
				<td>Usuario Destino:</td>
				<td>
					<select id="usuario_destino" name="usuario_destino" class="form-control porc25">
						<option value="0" selected>Sin usuario asignado</option>
						{% for s in usuarios %}
							<option value="{{ s.unica }}">{{ s.usuario }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Ubicación:</td>
				<td>
					<select id="ubicacion" name="ubicacion" class="form-control porc25" required>
						<option value="0" selected>Sin ubicación asignada</option>
						{% for u in ubicaciones %}
							<option value="{{ u.id }}">{{ u.descripcion }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Fecha Movimiento:</td>
				<td><input type="date" id="fecha_movimiento" name="fecha_movimiento" class="form-control porc25" required></td>
			</tr>
			<tr>
				<td>N° recibo:</td>
				<td><input type="number" id="nro_recibo" name="nro_recibo" maxlength="11" class="form-control porc25"></td>
			</tr>
			<tr>
				<td>Marca:</td>
				<td><input type="text" id="marca" name="marca" maxlength="15" class="form-control porc50"><div class="aviso">Quedan <span id="charsLeftMarca"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Lugar Compra:</td>
				<td><input type="text" id="lugar_compra" name="lugar_compra" maxlength="20" class="form-control porc50"><div class="aviso">Quedan <span id="charsLeftLugar_compra"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Valor:</td>
				<td><input type="number" step="any" id="valor" name="valor" maxlength="15" class="form-control porc25"></td>
			</tr>
			<tr>
				<td>Cantidad:</td>
				<td><input type="number" id="cantidad" name="cantidad" maxlength="4" class="form-control porc25"></td>
			</tr>
			<tr>
				<td>Fecha Cambio:</td>
				<td><input type="checkbox" id="fecha_cambio" name="fecha_cambio" class="checkbox porc25"></td>
			</tr>
			<tr>
				<td><center><input class="btn btn-default" type="button" value="Atras" onclick="history.back()"></center></td>
				<td><center><input class="btn btn-default" type="submit" value="Agregar"></center></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script src="/js/jquery.autotab.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
	$('#codigo').limit('12','#charsLeftCodigo');
	$('#marca').limit('15','#charsLeftMarca');
	$('#lugar_compra').limit('20','#charsLeftLugar_compra');

	$('#formalta').submit(function (e) {
		var ubicacion = $('#ubicacion').val();
		var fecha_movimiento = $('#fecha_movimiento').val();
		var date1 = checkDateLessToday(fecha_movimiento);
		
		if (ubicacion === '0') {
			alert("Debe elegir una ubicación");
			e.preventDefault();
		}

		if (!date1) { 
			alert("La fecha de movimiento no puede ser anterior al dia de hoy") ;
			e.preventDefault();
		}
	});
</script>

{% endblock %}