{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>	
				<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
				<td><a href="/herramientas_alta"><button type="button" class="btn btn-success menu" data-idmenu="21" data-accion="a">Agregar Nuevo</button></a></td>
				<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
				<td style="width: 100%;">
					<table class="pull-right">
						<tr>
							<td>Filtrar&nbsp;</td>
							<td>
								<input class="form-control" type="date" id="fecha_desde" name="fecha_desde" />
							</td>
							<td>
								<input class="form-control" type="date" id="fecha_hoy" name="fecha_hoy" readonly />
							</td>
							<td>
								<input class="form-control" type="text" id="nombre" name="nombre" placeholder="Denominación... "/>
							</td>
							<td><button type="button" class="btn btn-success" id="btnFiltrar" name="btnFiltrar">Filtrar</button></td>
						</tr>
					</table>					
				</td>
			</tr>	
		</table>
	</div>
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- Fin Modal -->
	<div class="row">
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 500px;">
				<table class="table table-striped">
			  		<thead>
			  			<tr> 
			  				<th colspan="5">Opciones</th>
							<th>N°</th>
							<th>Nombre</th>
							<th>Ubicación</th>
							<th>Fcha. Colocación</th>
							<th>N° Coche</th>
							<th>Total</th>
							<th>Responsable</th>
							<th>Tipo</th>
							<th>Km</th>
							<th>Fcha. Sacado</th>
						</tr>
			  		</thead>
			  		<tbody id="tbodylisto">
			  			
			  		</tbody>
			  		<script type="text/template" id="tabla_herramientas" />
			  			[% for d in data %]
			  				<tr>
								<td>
									<a href="/herramientas_ver/[[ d.id_herramientas ]]">
										<button class="btn btn-default">
											<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
										</button>
									</a>
								</td>
								<td>
									<a href="/herramientas_modificar/[[ d.id_herramientas ]]">
										<button class="btn btn-warning menu" data-idmenu="21" data-accion="m">
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
										</button>
									</a>
								</td>
								<td>
									<a href="/#/[[ d.id_herramientas ]]">
										<button type="button" class="btn btn-success menu" data-idmenu="21" data-accion="b">
											<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
										</button>
									<a/>
								</td>
								<td>
									<a href="#" onclick="alert('No disponible')">
										<button type="button" class="btn btn-primary menu" data-idmenu="21" data-accion="b">
											<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
										</button>
									<a/>
								</td>
								<td>
									<a href="/herramientas_eliminar/[[ d.id_herramientas ]]" onclick="if (!confirm('¿Seguro desea eliminar?')) return false;">
										<button type="button" class="btn btn-danger menu" data-idmenu="21" data-accion="b">
											<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
										</button>
									<a/>
								</td>
								
								<td>[[ d.codigo ]]</td>
								<td>[[ d.nombre ]]</td>
								<td>[[ d.descripcion ]]</td>
								<td>[% if d.fecha_movimiento_f != '00/00/0000' %][[ d.fecha_movimiento_f ]][% else %][% endif %]</td>
								<td>[[ d.nro_recibo ]]</td>
								<td>[[ d.marca ]]</td>
								<td>[[ d.lugar_compra ]]</td>
								<td>[[ d.valor ]]</td>
								<td>[[ d.cantidad ]]</td>
								<td>[% if d.fecha_cambio_f != '00/00/0000' %][[ d.fecha_cambio_f ]][% else %][% endif %]</td>
							</tr>
						[% endfor %]
			  		</script>
				</table>				
			</div>
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.autotab.min.js"></script>
<script src="/js/swig.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
	swig.setDefaults({
    	varControls: ['[[', ']]'],
    	tagControls: ['[%', '%]']
    });

	var mainReady = function () {
		var today = generateTodayDateYMD();
		$('#fecha_hoy').val(today);

	}

	var btnFiltrar = function () {
		var date1 = $('#fecha_desde').val();
		var date2 = $('#fecha_hoy').val();
		var denominacion = $('#nombre').val();

		if (denominacion === '') {
			denominacion = 'NoName';
		}

		if (date1 === '') {
			alert('¡Debe Ingresar una fecha de inicio!')
		} else {
			$('#tbodylisto').html('<p>Cargando...<p>');
			$.getJSON('/herramientas_filtrar/' + date1 + '/' + date2 + '/' + denominacion, function (data){
				
				if (data.length != 0){
					$('#tbodylisto > tr').remove();
					var template = $('#tabla_herramientas').html();

					var output = parseSwig(template, data);

					$('#tbodylisto').html(output);
				}else{
					$('#tbodylisto > tr').remove();					
					$("#tbodylisto").html("<tr><td colspan='20'>No se han encontrado resultados para esta búsqueda.</td></tr>");
				}
			});
		}
	}

	$(document).ready(mainReady);
	$('#btnFiltrar').on('click', btnFiltrar);
</script>
{% endblock %}