{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}

<h2>{{ pagename }}</h2>
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal">
	        			<span aria-hidden="true">&times;</span>
	        			<span class="sr-only">Close</span>
	        		</button>
	        		<h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
	      		</div>
	      		<div id="mainHolder" style="overflow: scroll; max-height: 500px;">
		      		<table id="tabla_modaloperarios">

		      		</table>
		      	</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      		</div>
	    	</div>
	  	</div>
	</div>
<!-- Fin Modal -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>	
				<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
				<td style="width: 100%;">
					<table class="pull-right">
						<tr>
							<td>Ingresar:&nbsp;&nbsp;</td>
							<td>
								<table>
									<tr>
										<td>
											<input type="text" class="datepicker form-control hidders fecha_desde" placeholder="Fecha Desde" readonly>
										<td>
										<td>
											<input type="text" class="datepicker form-control hidders fecha_hasta" placeholder="Fecha Hasta" readonly>
										</td>
										<td>
											<select id="operador" class="form-control">
												<option value="0" selected>Todos</option>
												{% for o in operarios %}
													<option value="{{ o.unica }}">{{ o.usuario }}</option>
												{% endfor %}
											</select>
										</td>
									</tr>
								</table>
							</td>
							<td><button type="button" class="btn btn-default" id="btnFiltrar" name="btnFiltrar">Filtrar</button></td>
						</tr>
					</table>					
				</td>
			</tr>	
		</table>
	</div>	
	<div class="row">
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 500px;">
				<table class="table table-striped">
			  		<thead>
			  			<tr>
							<th>Fecha</th>
							<th>Herramienta</th>
							<th>Cantidad</th>
							<th>Valor Unitario $</th>
						</tr>
			  		</thead>
			  		<tbody id="tbodylisto">
			  			
			  		</tbody>
			  		<script type="text/template" id="tabla_operarios" />
			  			[% for l in data %]
							<tr>
								<td>[% if l.fecha_movimiento_f != '00/00/0000' %][[ l.fecha_movimiento_f ]][% else %][% endif %]</td>
								<td>[[ l.repuestonombre ]]</td>
								<td>[[ l.cantidad ]]</td>
								<td>[[ l.herramientavalor ]]</td>
							</tr>
						[% endfor %]
			  		</script>
				</table>				
			</div>
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.4.js"></script>
<script src="/js/jquery.autotab.min.js"></script>
<script src="/js/swig.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		dateFormat: 'dd/mm/yy'
	});

	swig.setDefaults({
    	varControls: ['[[', ']]'],
    	tagControls: ['[%', '%]']
    });


	$("#btnFiltrar").on("click", function () {
		var desde = $('.fecha_desde').val();			
		var hasta = $('.fecha_hasta').val();
		
		var operario = $('#operador').val();

		function imprimirListado (f_desde, f_hasta, u_operario) {
			var url = '/herramientas_listaoperarios/' + f_desde + '/' + f_hasta + '/' + u_operario;
			$.getJSON(url, function (data){
				if (data.length != 0){
						$('#tbodylisto > tr').remove();
						var template = $('#tabla_operarios').html();
						var output = parseSwig(template, data);
						$('#tbodylisto').html(output);
					}else{
						$('#tbodylisto > tr').remove();					
						$("#tbodylisto").html("<tr><td colspan='20' style='padding-left: 20px; padding-top: 20px;'>No se han encontrado resultados para esta búsqueda.</td></tr>");
					}
			});	
		}

		$(document).on('click', '.verOperario', function () {
			$('#myModal').modal('hide');

			operario = $(this).val();

			imprimirListado(desde, hasta, operario);
		})

		if (desde !== '' && hasta !== '') {
			if (operario === '0') {
				desde = changeDate3(desde);
				hasta = changeDate3(hasta);

				var url = '/herramientas_listaoperarios/' + desde + '/' + hasta + '/' + operario;

				$.getJSON(url, function (data){
					if (data.length != 0){
						var html = "<table class='table' id='tabla_modaloperarios'>";
						html += "<tr><th>Operario</th><th>Total Cantidad</th><th>Total Valor $</th><th>Opción</th></tr>";
							for(var i = 0; i < data.length; i++){
								html += "<tr><td>"+data[i].usuario+"</td><td>"+data[i].cantHerramientas+"</td><td>"+data[i].valorHerramientas+"</td>" +
								"<td><button class='btn btn-success verOperario' value='"+data[i].unica+"'>Ver</button></td></tr>";
							}
							
						html += "</table>";
						$("#tabla_modaloperarios").replaceWith(html);
						$("#myModalLabel").text("Seleccione Conjunto")
						$('#myModal').modal('toggle');
					}else{
						$('#tbodylisto > tr').remove();					
						$("#tbodylisto").html("<tr><td colspan='20' style='padding-left: 20px; padding-top: 20px;'>No se han encontrado resultados para esta búsqueda.</td></tr>");
					}
				});
			} else {
				desde = changeDate3(desde);
				hasta = changeDate3(hasta);

				imprimirListado(desde, hasta, operario);
			}
		} else {
			alert('Debe ingresar las fechas para realizar la busqueda');
		}
		
	});
</script>
{% endblock %}