{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<!-- <link href="/css/rubrosalta.css" rel="stylesheet"> -->
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/ingegr_alta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Fecha:</td>
				<td><input type="text" readonly required class="form-control datepicker" name="fecha" id="fecha" style="width: 150px;"></td>
			</tr>
			<tr>
				<td>Codigo:</td>
				<td>
					<select id="codigo" name="codigo" class="form-control">
						{% for c in codigos %}
							{% if c.cuenta != null %}
								<option value="{{ c.id }}">[{{ c.tipo }}] {{ c.cuenta }} - {{ c.nombre }}</option>
							{% else %}
								<option value="{{ c.id }}">[{{ c.tipo }}] {{ c.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Importe:</td>
				<td><input type="text" name="importe" id="importe" class="form-control" required onkeypress="return Validate7EntY2Dec(event, this)"></td>
			</tr>
			<tr>
				<td><input type="button" class="btn btn-default" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" class="btn btn-default" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<!-- <script src="/js/bootstrap-datepicker.js"></script> -->
<script src="/js/jquery-ui-1.10.4.js"></script>
<script type="text/javascript">
	if('localStorage' in window && window['localStorage'] !== null) {
		var objDatos = localStorage.getItem('objDatos');
		var objDatos_parsed = JSON.parse(objDatos);

		var PrimeroDeMes = objDatos_parsed.fecha_01;
		var Today = objDatos_parsed.fecha_hoy;
		// console.log("Pr: "+PrimeroDeMes)
		// console.log("To: "+Today);

		$(".datepicker").datepicker({
			dateFormat: 'dd/mm/yy',
			minDate: PrimeroDeMes,
			maxDate: Today
		});

	}else{
		// event.preventDefault();
		alert("Su navegador es obsoleto, por favor actualízelo para utilizar este sistema correctamente.");				
	}
	
	$(function() {
		$("#formalta").submit(function( event ) {
			// console.log("en on submit");
			var fecha = $("#fecha").val();

			if (fecha == '' && fecha.length == 0){
				event.preventDefault();
				$("#fecha").focus();
				alert("El campo fecha NO puede estar vacio.");
			}	
		});
	});
</script>
{% endblock %}