{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/ordenestrabajo.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/ordenestrabajo_modificar">
		<table align="center" class="table table-striped">
			<input type="number" value="{{ orden.id }}" id="id_orden" name="id_orden" hidden>
			<tr>
				<td>Fecha:</td>
				<td>
					{% if orden.fecha_f == '00/00/0000' %}
						<input type="text" name="fecha" id="fecha" class="form-control datepicker width_25" title="Fecha en que será realizado el trabajo" readonly>
					{% else %}
						<input type="text" name="fecha" id="fecha" class="form-control datepicker width_25" value="{{ orden.fecha_f }}" title="Fecha en que será realizado el trabajo" readonly>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Nro Orden:</td>
				<td>
					{{ orden.numero }}
				</td>
			</tr>
			<tr>
				<td>Nro. coche:</td>
				<td>
					{{ vehiculo.numero }} - {{ vehiculo.marca }} - {{ vehiculo.tipo }} - {{ vehiculo.dominio }}
				</td>
			</tr>
			<tr>
				<td>Fecha anterior:</td>
				<td>
					{% if orden.fecha_ant_f == '00/00/0000' %}
					{% else %}
						{{ orden.fecha_ant_f }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Número anterior:</td>
				<td>
					{% if orden.nro_ant == 0 %}
					{% else %}
						{{ orden.nro_ant }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Km hasta hoy:</td>
				<td>
					{% if orden.km_hastahoy == 0 %}
					{% else %}
						{{ orden.km_hastahoy }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><input type="button" class="btn btn-primary" value="Atras" onclick="history.back()"></td>
				<td><input type="button" id="agregar" class="btn btn-success" value="Modificar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.4.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">

	$(".datepicker").datepicker({
		dateFormat: 'dd/mm/yy'
	});

	//ON JQUERY READY
	(function($) {
		$('#coches').on('change', function () {
			const nro_coche = $('#coches').val();
			const fecha_hoy = generateTodayDateYMD();
			console.log(nro_coche)

			$.getJSON('/get_ultima_ordentrabajo/' + nro_coche + '/' + fecha_hoy, function (data) {
				if (data != null) {
					var fecha = data.fecha;
						fecha = changeDate2(fecha);
						if (fecha == '00/00/0000') { fecha = '' }
					var nro_ant = data.numero;
						if (nro_ant == '0') { nro_ant = '' }
					var km_hastahoy = data.km_hastahoy;
						if (km_hastahoy == '0') { km_hastahoy = '' }

					$('#fecha_ant').val(fecha);
					$('#nro_ant').val(nro_ant);
					$('#km_hastahoy').val(km_hastahoy);
				} else {
					$('#fecha_ant').val('');
					$('#nro_ant').val('');
					$('#km_hastahoy').val('');
				}
			});
		});

		$('#agregar').click(function () {
			const numero = $('#numero').val();

			if ($('#fecha').val() == '' || $('#coches').val() == '0') {
				alert("Debe seleccionar un coche e ingresar una fecha")
			} else {
				$('form').submit();
			}
		});
	})(jQuery);
</script>

{% endblock %}