{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/ordenestrabajo_alta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/ordenestrabajo_alta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Nro. coche:</td>
				<td>
					<select class="form-control" id="coches" name="coches">
						<option value="0" selected>Elija una opción</option>
						{% for v in vehiculos %}
							<option value="{{ v.numero }}">[{{ v.numero }}] - {{ v.marca }} - {{ v.tipo }} - {{ v.dominio }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Fecha:</td>
				<td>
					<input type="text" name="fecha" id="fecha" class="form-control datepicker" title="Fecha en que será realizado el trabajo" readonly>
				</td>
			</tr>
			<tr>
				<td>Fecha anterior:</td>
				<td>
					<input type="text" name="fecha_anterior" id="fecha_anterior" class="form-control" title="Fecha del mantenimiento anterior" readonly>
				</td>
			</tr>
			<tr>
				<td>Número anterior:</td>
				<td>
					<input type="text" id="nro_ant" name="nro_ant" class="form-control" readonly>
				</td>
			</tr>
			<tr>
				<td>Km hasta hoy:</td>
				<td><input type="number" name="km_hastahoy" class="form-control" placeholder="autocalculable" readonly></td>
			</tr>
			<tr>
				<td><input type="button" class="btn btn-primary" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" class="btn btn-success" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.4.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">

	$(".datepicker").datepicker({
		dateFormat: 'dd/mm/yy'
	});

	//ON JQUERY READY
	(function($) {
		$('#coches').on('change', function () {
			const nro_coche = $('#coches').val();
			const fecha_hoy = generateTodayDateYMD();
			console.log(nro_coche)

			$.getJSON('/get_ultima_ordentrabajo/' + nro_coche + '/' + fecha_hoy, function (data) {
				if (data !== null) {
					console.log(data)
					$('#fecha_anterior').val(data.fecha_anterior);
					$('#num_ant').val(data.num_ant);
					$('#km_hastahoy').val(data.km_hastahoy);
					$('#').val();
					$('#').val();
				}
			});
		});

		$('#formalta').submit(function (e) {
			if ($('#fecha').val() === '' || $('#coches').val() === '0') {
				e.preventDefault()
				alert("Debe seleccionar un coche e ingresar una fecha")
			}
		});
	})(jQuery);
</script>

{% endblock %}