{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
	      </div>
	      <div id="mainHolder" style="overflow: scroll; max-height: 500px;">
	      	<table class="table" id="tabla_verRemitos">

      		</table>
      	  </div>	
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Fin Modal -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>	
				<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
				<td><a href="/sereno_alta"><button type="button" class="btn btn-success menu" data-idmenu="21" data-accion="a">Agregar Nuevo</button></a></td>
				<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
				<td style="width: 100%;">
					<table class="pull-right">
						<tr>
							<td>Filtrar por:&nbsp;</td>
							<td>
								<select class="form-control" id="filtro" name="filtro">
									<option value="0" selected>Elegir</option>
									<option value="1">Todos</option>
									<option value="2">Colocados</option>
									<option value="3">NO Colocados</option>
								</select>
							</td>
							<td>
								<input type='text' id='fecha_desde' class='form-control datepicker' placeholder='Fecha Desde' readonly required>
							</td>
							<td>
								<input type='text' id='fecha_hasta' class='form-control datepicker' placeholder='Fecha Hasta' readonly required>
							</td>
							<td><button type="button" class="btn btn-default" id="btnFiltrar" name="btnFiltrar">Filtrar</button></td>
						</tr>
					</table>					
				</td>
			</tr>	
		</table>
	</div>	
	<div class="row">
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 500px;">
				<table class="table table-striped">
			  		<thead>
			  			<tr>
			  				<th colspan="3">Opciones</th>
							<th>Fecha</th>
							<th>Denominación</th>
							<th>Cant</th>
							<th>Valor Unit.</th>
							<th>Fecha Colocación</th>
							<th>Coche</th>
						</tr>
			  		</thead>
			  		<tbody id="tbodylisto">
			  			
			  		</tbody>
			  		<script type="text/template" id="tabla_sereno" />
			  			[% for e in data %]
							<tr>
								<td><a href="#"><button class="btn btn-default btnImprimir"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button></a></td>
								<td>
									[% if e.numero_coche === 0%]
										<a href="#"><button class="btn btn-info menu btnColocar" data-idmenu="21" data-accion="m" data-idsereno="[[ e.id_serenos ]]">Colocar</button></a>
									[% else %]
										<a href="#"><button class="btn btn-warning menu btnSacar" data-idmenu="21" data-accion="m" data-idsereno="[[ e.id_serenos ]]">Sacar</button></a>
									[% endif %]
								</td>
								<td><button class="btn btn-danger menu btnEliminar" data-idmenu="21" data-accion="b" data-idsereno="[[ e.id_serenos ]]"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
								<td>[% if e.fecha_movimiento_f != '00/00/0000' %][[ e.fecha_movimiento_f ]][% else %][% endif %]</td>
								<td>[[ e.nombre ]]</td>
								<td>
									[% if e.serenocantidad == 0 %]
									[% else %]
										[[ e.costo ]]
									[% endif %]
								</td>
								<td>[[ e.valor_unitario ]]</td>
								<td>[% if e.fecha_colocado_f != '00/00/0000' %][[ e.fecha_colocado_f ]][% else %][% endif %]</td>
								<td>
									[% if e.numero_coche === 0 %]
									[% else %]
										[[ e.marca ]]
									[% endif %]
								</td>
							</tr>
						[% endfor %]
			  		</script>
				</table>				
			</div>
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.4.js"></script>
<script src="/js/jquery.autotab.min.js"></script>
<script src="/js/swig.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">				
/****************
* ON READY PAGE *
****************/
(function ($) { 
	$(".datepicker").datepicker({
		dateFormat: 'dd/mm/yy'
	});

	swig.setDefaults({
		varControls: ['[[', ']]'],
		tagControls: ['[%', '%]']
	});

	const f_desde = generateFirstDateActualMonth();
	const f_hasta = generateTodayDate();

	$('#fecha_desde').val(f_desde);
	$('#fecha_hasta').val(f_hasta);	
})(jQuery);

/*******************************
 * ON CLICK BUTTON #btnFiltrar *
 *******************************/

function sereno_listar () {
	const filtro = $('#filtro').val();
	var desde = $('#fecha_desde').val();
	var hasta = $('#fecha_hasta').val();

	if (!(filtro === '0' || desde === '' || hasta === '')) {
		desde = changeDate3(desde);
		hasta = changeDate3(hasta);

		$('#tbodylisto').html("<tr><td colspan='20' style='padding-left: 20px; padding-top: 20px;'>Cargando ... </td></tr>");

		$.getJSON('/sereno_listaherramientas/' + filtro + '/' + desde + '/' + hasta, function (data){
			if (data.length != 0){
				$('#tbodylisto > tr').remove();
				const template = $('#tabla_sereno').html();

				const output = parseSwig(template, data);

				$('#tbodylisto').html(output);

			}else{
				$('#tbodylisto > tr').remove();					
				$("#tbodylisto").html("<tr><td colspan='20' style='padding-left: 20px; padding-top: 20px;'>No se han encontrado resultados para esta búsqueda.</td></tr>");
			}
		});
	} else {
		alert('Debe ingresar todos los campos para la busqueda')
	}
}

$('#btnFiltrar').on('click', function () {
	sereno_listar();
});

/******************************
 * ON CLICK BUTTON .btnColocar *
 ******************************/

$(document).on('click', '.btnColocar', function () {
	const id_serenos = $(this).data("idsereno");

	$.getJSON('/serenos_vehiculos', function (vehiculos) {
		if (vehiculos.length > 0) {
			var html = ""
			html += "<tr><th>Marca</th><th>Fecha</th><th>Opción</th></tr>"

			html += "<tr>"
				html += "<td><select class='form-control' id='coche'><option value='0'>Selecciona una Opción</option>"

			for (var v in vehiculos) {
				html += "<option value='"+vehiculos[v].id+"'>"+vehiculos[v].marca+"</option>"
			}

				html += "</select></td>"
				html += "<td><input type='date' class='form-control' id='fecha_colocado_table'></td>"
				html += "<td><button type='button' class='btn btn-success submitCoche' value='"+id_serenos+"'>Colocar</button></td>"
			html += "</tr>";

			$("#tabla_verRemitos").html(html)
			$("#myModalLabel").text("Vista Detalles Remito")
			$('#myModal').modal('toggle')
		} else {
			alert("La busqueda no trajo resultados.")
		}
	});
});

// ON SUBMIT .submitCoche

$(document).on('click', '.submitCoche', function () {
	const id_serenos = $(this).val();
	const select_coche = $('#coche').val();
	const fecha_colocado_table = $('#fecha_colocado_table').val();

	$.post('/serenos_setcoche/' + id_serenos + '/' + select_coche + '/' + fecha_colocado_table, function (data) {
		if (data !== 'true') {
			alert('Se ha producido un error.');
		}

		$('#myModal').modal('toggle');

		sereno_listar();
	})
})

/********************************
* ON CLICK BUTTON .btnSacar *
********************************/

$(document).on('click', '.btnSacar', function () {
	const id_serenos = $(this).data("idsereno")

	$.post('/serenos_unsetcoche/' + id_serenos, function (data) {
		if (data !== 'true') {
			alert('Se ha producido un error.')
		}

		sereno_listar();
	})
})


/********************************
 * ON CLICK BUTTON .btnEliminar *
 ********************************/

$(document).on('click', '.btnEliminar', function () {
	if (confirm('¿Seguro desea eliminar?')) {
		const id_serenos = $(this).data("idsereno")

		$.getJSON('/serenos_eliminar/' + id_serenos, function (data) {
			if (data != true) {
				alert('Se ha producido un error.')
			}

			sereno_listar();
		})
	} else {
		return false
	}
});

/********************************
* ON CLICK BUTTON .btnImprimir *
********************************/

$(document).on('click', '.btnImprimir', function () {
	alert("Opción no disponible por el momento")
});
</script>
{% endblock %}