{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/equipos.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/sereno_alta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Fecha de Movimiento:</td>
				<td><input type="text" id="fecha_movimiento" name="fecha_movimiento" class="datepicker form-control width_35" readonly required=""></td>
			</tr>
			<tr>
				<td>Repuesto:</td>
				<td>
					<select class="form-control width_60" id="repuesto" name="repuesto" required="">
						<option value="0">Elija una opción</option>
						{% for r in repuestos %}
							<option value="{{ r.id }}">{{ r.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Cantidad:</td>
				<td><input type="number" step="any" id="cantidad" name="cantidad" class="form-control width_60" required=""></td>
			</tr>
			<tr>
				<td><center><input class="btn btn-default" type="button" value="Atras" onclick="history.back()"></center></td>
				<td><center><input class="btn btn-default" type="submit" value="Agregar"></center></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.4.js"></script>
<script src="/js/jquery.autotab.min.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		dateFormat: 'dd/mm/yy'
	});

	$('#formalta').submit(function (e) {
		var fecha_movimiento = $('#fecha_movimiento').val()
		var repuesto = $('#repuesto').val()

		if (repuesto === '0' || fecha_movimiento === '') {
			alert('Debe completar todos los campos')
			e.preventDefault()
		}
	});
</script>

{% endblock %}