{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<!-- <link href="/css/rubrosalta.css" rel="stylesheet"> -->
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/vales_modificar_repuesto">
		<input hidden id="id_vale1" name="id_vale1" value="{{ id_vale1 }}">
		<input hidden id="id_vale2" name="id_vale2" value="{{ vale2.id }}">
		<input hidden id="nro_vale" name="nro_vale" value="{{ vale2.nro_vale }}">
		<table align="center" class="table table-striped">
			<tr>
				<td>Nro Vale:</td>
				<td>{{ vale2.nro_vale }}</td>
			</tr>
			<tr>
				<td>Repuesto:</td>
				<td>{{ vale2.denominacion }}</td>
			</tr>
			<tr>
				<td>Precio:</td>
				<td><input id="precio" name="precio" class="form-control" onkeypress="return Validate8EntY2Dec(event,this)" style="width: 130px;" maxlength="11" value="{{ vale2.precio }}"></td>
			</tr>
			<tr>
				<td>Cantidad:</td>
				<td><input id="cantidad" name="cantidad" class="form-control" onkeypress="return Validate6EntY1Dec(event,this)" style="width: 100px;" value="{{ vale2.cantidad }}"></td>
			</tr>
			<tr>
				<td><input type="button" class="btn btn-default" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" class="btn btn-default" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
</script>
{% endblock %}